.km-ios7 .km-view .km-tabstrip .km-button.km-state-active .km-text {
}
.km-ios7 .km-view .km-tabstrip .km-button {
}
.km-ios7 .km-view .km-navbar .km-view-title > * {
    color: rgb(105, 53, 128);
}
.km-ios7 .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(105, 53, 128);
}
.km-ios7 .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(217, 139, 199);
}
.km-ios7 .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(105, 53, 128);
}
.km-ios7 .km-view .km-content .km-list > li {
}
.km-ios7 .km-view .km-navbar {
    background-color: rgb(217, 139, 199);
}
.km-ios7 .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-ios7 .km-view .km-navbar .km-button.km-state-active .km-text {
    color: rgb(255, 255, 255);
}

.km-ios7 .km-button {
    border: 1px solid #D98BC7;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
}
.km-ios7 .k-list, .km-ios7 .k-slider, .km-ios7 .km-widget {
    color: #D98BC7;
}

.added {

	color: #693580 !important;
}

<style type="text/css">
    html, body, #map
    {
        height: 100%;
    }
    #map
    {
        width: 100%;
    }
</style>